<ol class="breadcrumb">
	<li>
  	<a ui-sref="project.forum.all">All topics</a>
  </li>
  <li class="active">{{activeForum.forum.subject}}</li>
</ol>

<div ng-repeat="message in activeForum.messages">
  <blockquote>
    <p mathjax-bind="message.message"></p>
    <footer>{{message.createdBy.name}} on <cite>{{message.created | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</cite></footer>
  </blockquote>
</div>
<textarea class="form-control" ng-model="newMessage"></textarea>
<button type="button" class="btn btn-primary" ng-click="postMessage(newMessage)">Post message</button>