<p>Research supervisor: 
  <a href="/profile/{{project.supervisor.name}}">{{project.supervisor.name}}</a>
</p>
<div ng-if="project.researchers.length > 0">
  <p>Researchers:</p>
  <ul>
    <li ng-repeat="user in project.researchers">
      <section>
        <a ui-sref="profile({id: user.name})">{{user.name}}</a>
      </section>  
      <!-- <a href="/profile/{{user}}">{{user}}</a> -->
    </li>
  </ul>
</div>
<div ng-if="isSupervisor">
  <div ng-if="inviteSent">
    <p>Invitation have been sent</p>
  </div>
  <form>
    <h3>Invite researcher</h3>
    <input class="form-control" ng-model="newResearcher" placeholder="email"></input>
    <button type="button" class="btn btn-primary" ng-click="inviteResearcher(newResearcher)">Invite</button>
  </form>
</div>
