.account {
	background-image: url(../img/hero-bg-2x.png);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
}
.account .info {
    color: #fff;
    text-align: center;
}
.account h1,
.account h2 {
	margin-top: 150px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000000;
}
.account h3 {
	margin-top: 0;
    font-weight: 300;
    text-shadow: 1px 1px 3px #000000;
}
.account md-content.md-default-theme, .account md-content {
    background-color: transparent!important;
}
.account form {
	background-color: rgba(250, 250, 250, 0.4);
}
.account-container {
	margin: 0 auto;
}
@media (min-width: 768px) {
    .account-container {
        width: 500px;
    }
}