<div class="header news">
    <div class="info" layout="column">
        <h1>Szkocka news</h1>
        <h3>Connect with researches, share data and knowledge, get funded</h3>
        <div>
            <md-button class="md-raised md-primary" ng-if="showAddButton" ng-click="addNews()">Add News</md-button>
        </div>
    </div>

    <md-content class="itemsList md-container md-padding" style="margin-bottom: 100px;"
                infinite-scroll="loadMore()"
                infinite-scroll-distance="1"
                infinite-scroll-disabled="!loadMoreAvailable"
                infinite-scroll-immediate-check="false">
        <div layout="column">
            <md-list flex>
                <md-list-item class="md-3-line md-long-text" ng-repeat="item in news">
                  <div hide-xs style="background-image: url('{{item.viewNews.image_url}}')" class="md-avatar"></div>
                  <i hide-xs>{{item.viewNews.created | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</i>
                  <div class="md-list-item-text">
                    <h2>{{item.viewNews.title}}</h2>
                    <p ng-bind-html="item.viewNews.body"> ></p>
                  </div>
                </md-list-item>
            </md-list>
        </div>
        <div layout="row" layout-sm="column" layout-align="space-around" class="progress-circular" ng-if="isLoading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </md-content>
</div>