<ol class="breadcrumb">
    <li>
        <a ui-sref="project.forum.all">All topics</a>
    </li>
    <li class="active">{{activeForum.subject}}</li>
</ol>
<div lazy-scroll="loadMore()" lazy-scroll-trigger="90">
    <div ng-repeat="message in activeForumMessages | orderBy: 'message.created'">
        <blockquote>
            <p mathjax-bind="message.message"></p>
            <footer>{{message.createdBy.name}} on <cite>{{message.created | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</cite></footer>
        </blockquote>
    </div>
</div>
<div class="form-group">
    <textarea kendo-editor k-ng-model="newMessage"></textarea>
</div>
<button type="button" class="btn btn-primary" ng-click="postMessage(newMessage)">Post message</button>