<div class="header project">
    <div class="info" layout="column">
        <div>
            <md-button class="md-raised md-primary" ng-if="canJoinProject" ng-click="join()">Join Project</md-button>
            <md-button class="md-raised md-primary" ng-if="isSupervisor" ng-click="edit()">Edit Project</md-button>
        </div>
    </div>
    <md-content class=" md-container">
        <md-card layout="row" layout-wrap>
            <div flex="33" flex-sm="50" flex-xs="100" class="left-side">
                <div class="status">{{project.status}}</div>
                <div class="image" style="background-image: url('{{project.image_url}}')"></div>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-mini tag" ng-repeat="tag in project.tags">{{tag}}</md-button>
                </md-card-actions>

                <md-list ng-if="isSupervisor && joinRequests.length > 0">
                    <md-subheader class="md-no-sticky">Join Requests</md-subheader>
                    <md-list-item class="md-1-line" ng-repeat="request in joinRequests">
                        <div class="md-list-item-text">
                            <h3 ui-sref="profile({id: request.id})">{{request.name}}</h3>
                        </div>
                        <md-button class="md-secondary md-icon-button" ng-click="confirmAccept(request, $event)">
                            <md-icon aria-label="check">
                                check
                            </md-icon>
                        </md-button>
                        <md-button class="md-secondary md-icon-button" ng-click="confirmIgnore(request, $event)">
                            <md-icon aria-label="close">
                                close
                            </md-icon>
                        </md-button>
                        <md-divider ></md-divider>
                    </md-list-item>
                </md-list>
                <md-button class="md-raised md-primary invite" ng-if="isSupervisor" ng-click="show()">Invite Researcher</md-button>

                <div class="invitation" ng-if="showInvitation">
                    <form ng-submit="inviteResearcher(form.$valid, $event)"  name="form" novalidate>
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input type="text" ng-model="newResearcher.name" name="name" required>
                            <div ng-messages="forn.name.$error">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Email Address</label>
                            <input type="email" ng-model="newResearcher.email" name="email" required>
                            <div ng-messages="form.email.$error">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="email">This needs to be a valid email</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Message</label>
                            <textarea ng-model="newResearcher.text" rows="5"></textarea>
                        </md-input-container>
                        <section layout="row">
                            <md-button flex="50" type="button" class="md-block" ng-click="cancel()">CANCEL</md-button>
                            <md-button flex="50" type="submit" class="md-primary md-raised md-block">INVITE</md-button>
                        </section>
                    </form>
                    <md-divider ></md-divider>
                </div>
            </div>
            <div flex>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{project.title}}</span>
                        <span class="md-subhead" ng-bind-html="project.description.detailed"></span>
                        <span class="researchers">
                            <strong>Supevised by: 
                                <a ui-sref="profile({id: project.supervisor.id})">{{project.supervisor.name}}</a>
                            </strong>
                            <br>
                            <strong ng-if="project.researchers.length > 0">Researchers: 
                                <a ng-repeat="user in project.researchers" ui-sref="profile({id: user.id})">{{user.name}}</a>
                            </strong>
                        </span>
                    </md-card-title-text>
                </md-card-title>
            </div>
        </md-card>

        <md-card ng-if="isSupervisor || isResearcher || isAdmin">
            <form class="createForum" ng-submit="createForum(newForum, $event)"
                  ng-if="isSupervisor || isResearcher"
                  name="form" novalidate>
                <div layout="row" layout-wrap>
                    <md-input-container class="md-block" flex="80" flex-xs="60">
                        <label>Create New Topic</label>
                        <input type="text" ng-model="newForum" name="forum" required>
                        <div ng-messages="form.forum.$error">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </md-input-container>
                    <div flex="20" flex-xs="40">
                        <md-button type="submit" class="md-raised md-primary md-block" style="width:100%">Create</md-button>
                    </div>
                </div>
            </form>

            <div flex="100" ng-if="forums.length > 0" >
                <md-card-title layout="row" layout-wrap infinite-scroll="loadMore()" infinite-scroll-distance="1"
                                infinite-scroll-disabled="!loadMoreAvailable">
                    <md-card-title-text flex="50" flex-sm="100" flex-xs="100" ng-repeat="forum in forums" class="forum">

                        <div ng-if="isAdmin">
                            <md-icon aria-label="edit" class="edit" ng-if="!forum.showEditForum"
                                    ng-click="toggleEditForum(forum)">
                                edit
                            </md-icon>
                            <md-icon aria-label="close" class="delete" ng-if="!forum.showEditForum" 
                                    ng-click="confirmDeleteForum(forum, $event)">
                                close
                            </md-icon>
                            <md-icon aria-label="check" class="edit" ng-if="forum.showEditForum"
                                    ng-click="updateForum(forum, $event)">
                                check
                            </md-icon>
                            <md-icon aria-label="close" class="delete" ng-if="forum.showEditForum" 
                                    ng-click="toggleEditForum(forum)">
                                close
                            </md-icon>
                        </div>

                        <div ng-if="forum.showEditForum" style="padding-right: 60px">
                                <textarea kendo-editor k-ng-model="forum.subject"></textarea>
                            </div>
                        <span class="md-headline" ng-if="!forum.showEditForum"
                                ui-sref="project-messages({forumId: forum.id, projectId: project.id, isSupervisor: isSupervisor})">
                                {{forum.subject}}
                        </span>
                        <i class="md-subhead">{{forum.createdBy.name}} on {{forum.created | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</i>
                        
                    </md-card-title-text>
                </md-card-title>
            </div>
        </md-card>
    </md-content>
</div>
<footer-section></footer-section>