.project {}
.project.header form {
    background-color: #fff;
}
.project .info {
	height: 200px;
	padding-top: 110px;
}
.project md-content {
	margin-bottom: 100px;
}
.project md-card {
	padding: 16px;
}
.project .image {
	width: 100%;
	min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    -webkit-box-shadow: 2px 1px 21px -4px rgba(0,0,0,1);
	-moz-box-shadow: 2px 1px 21px -4px rgba(0,0,0,1);
	box-shadow: 2px 1px 21px -4px rgba(0,0,0,1);
}
.project .left-side {
	margin-right: 16px;
	position: relative;
}
.project .status {
	position: absolute;
	background-color: rgb(63,81,181);
	top: 15px;
	left: -10px;
	width: 150px;
	padding: 10px;
	color: #FFF;
	text-align: center;
	-webkit-box-shadow: 2px 1px 21px -4px rgba(0,0,0,1);
	-moz-box-shadow: 2px 1px 21px -4px rgba(0,0,0,1);
	box-shadow: 2px 1px 21px -4px rgba(0,0,0,1);
}
.project .tag{
    background: #ff5252;
    font-size: 9px;
    line-height: 2;
    min-height: 100%;
    height: 100%;
    min-width: 0;
}
.project md-card-actions {
	margin: 16px 0 10px 0;
}
.project .md-subhead {
	padding-bottom: 5px;
}
.project .researchers {
	color: rgba(0,0,0,0.54);
}
.project .researchers a{
	text-decoration: none;
	color: rgba(0,0,0,0.54);
	margin-right: 20px;
	cursor: pointer;
	line-height: 2em;
}
.project .researchers a:hover {
	color: black!important;
}
.project .invite {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}
.project md-list h3 {
	margin-bottom: 0;
}
.project md-list h3:hover {
	text-decoration: underline;
	cursor: pointer;
}
.project md-card h1{
    margin-top: 0.67em;
}
.project .createForum {
    margin-top: 30px;
}
.project .forum .md-headline{
    color: rgb(57,73,171);
    cursor: pointer;
    text-transform: none;
    font-size: 20px;
    padding-right: 50px
}
.project .forum {
    margin-bottom: 30px;
    padding-right: 20px;
    position: relative;
}
.project .forum md-icon{
    position: absolute;
    top: 5px;
    cursor: pointer;
}
.project .forum .edit{
    right: 45px;
}

.project .forum .delete{
    right: 15px;
}