<div class="header">
    <div class="info" layout="column">
        <h1 show-gt-xs hide-xs>explore our projects</h1>
        <h2 hide-gt-xs show-xs>explore our projects</h2>
        <h3 hide-xs>Connect with researches, share data and knowledge, get funded</h3>
    </div>

    <md-content layout-padding class="account-container">
        <form ng-submit="signIn(userForm.$valid, $event)" name="userForm" novalidate>

            <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" ng-model="user.email" name="email" required>
                <div ng-messages="userForm.email.$error">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="email">This needs to be a valid email</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="user.password" name="password" required>
                <div ng-messages="userForm.password.$error">
                    <div ng-message="required">This field is required</div>
                </div>
            </md-input-container>
            <section layout="row">
                <md-button flex="50" type="button" class="md-block" ui-sref="sign-up">SIGN UP</md-button>
                <md-button flex="50" type="submit" class="md-primary md-raised md-block">LOGIN</md-button>
            </section>
        </form>
    </md-content>
</div>