<section class="hero container">
  <div class="row">
      <div class="col-lg-12 project-image">
        <img ng-src="{{project.image_url}}" alt="{{project.title}}">
      </div>
  </div>
</section>

<section class="container">
  <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-primary pull-right" ng-if="isSupervisor" ng-click="edit()">Edit</button>
        <button class="btn btn-success pull-right" ng-if="canJoinProject" ng-click="join()">Join</button>
        <ul class="nav nav-tabs">
          <li role="presentation" ui-sref-active="active">
            <a ui-sref=".about">Description</a>
          </li>
          <li role="presentation" ui-sref-active="active">
            <a ui-sref=".participants">Participants</a>
          </li>
          <li role="presentation" ui-sref-active="active">
            <a ui-sref=".forum">Forum</a>
          </li>
        </ul>
        <ui-view/>
      </div>
  </div>
</section>
