<section class="container" >
    <div class="row">
        <div class="col-lg-12" style="margin-top: 100px">
            <ul class="nav nav-tabs">
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="admin.users">Users</a>
                </li>
                <li role="presentation" ui-sref-active="active">
                    <a ui-sref="admin.researches">Researches</a>
                 </li>
            </ul>
            <div ui-view="content"></div>
        </div>
    </div>
</section>