<div class="header add-project">
    <div class="info" layout="column">
        <h1>Create project</h1>
    </div>

    <md-content layout-padding class="md-container">
        <form ng-submit="create(form.$valid, $event)" name="form" novalidate layout-wrap layout="row" layout-align="end start">
            <div flex="50" flex-xs="100" class="add-padding-right">
                <div class="md-block select-image" ngf-select="onFileSelect($event)" 
                            accept="image/*"
                            ng-if="!project.image_url">
                    <div class="proj-image">Project Image</div>
                </div>
                <img class="preview" ng-src="{{project.image_url}}" 
                        ngf-select="onFileSelect($event)" 
                        accept="image/*">
                <md-chips
                    ng-model="project.tags"
                    md-removable="true"
                    placeholder="Enter a tag and press 'Enter'"
                    delete-button-label="Remove Tag"
                    delete-hint="Press delete to remove tag"
                    secondary-placeholder="+Tag">
                </md-chips>
            </div>
            <div flex="50" flex-xs="100">
                <md-input-container class="md-block">
                    <label>Project name</label>
                    <input type="text" name="title" ng-model="project.title" required>
                    <div ng-messages="form.title.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Shord Description</label>
                    <textarea name="brief" rows="4" ng-model="project.description.brief" required></textarea>
                    <div class="help-block" ng-messages="form.brief.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label class="detailed-description">Detailed Description</label>
                    <textarea kendo-editor k-ng-model="project.description.detailed" name="detailed" required></textarea>
                    <div class="help-block" ng-messages="form.detailed.$error">
                        <div ng-message="required">This field is required</div>
                    </div>
                </md-input-container>
            </div>
            <md-button type="submit" class="md-primary md-raised">SUBMIT</md-button>
        </form>
    </md-content>
</div>