<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Add Project:</h1>
      <form class="project-form">
        <div class="form-group">
          <label class="control-label">Project Title</label>
          <input type="text" class="form-control" ng-model="newProject.title">
        </div>
        <div class="form-group">
          <label class="control-label">Short Description</label>
          <textarea class="form-control" rows="2" style="resize:none" ng-model="newProject.description.brief"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Detailed Description</label>
          <textarea class="form-control" rows="7" style="resize:none" ng-model="newProject.description.detailed"></textarea>
        </div>
        <div class="form-group">
          <span class="btn btn-default btn-file">
            Upload image <input type="file" class="btn btn-primary" custom-on-change="onFileSelect">
          </span>
          <img class="preview" ng-src="{{newProject.image}}"> 
        </div>
        <div class="form-group">
          <label class="control-label">Add Labels</label>
          <tags-input class="bootstrap"
                      ng-model="newProject.labels"
                      placeholder="Add a movie"
                      replace-spaces-with-dashes="false">
          </tags-input>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-click="addProject()">Save Project</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">All Projects:</h1>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="project in projectsList">
        <li><a href="#">{{project.title}}<button type="button" class="close" ng-click="deleteProject(project)">&times;</button></a></li>
      </ul>
    </div>
  </div>