<div class="top-image">
    <div class="info" layout="column">
        <h1 hide-xs>explore your projects</h1>
        <h3 hide-xs>Connect with researches, share data and knowledge, get funded</h3>
        <md-button class="md-raised md-primary" ui-sref="add">Add Project</md-button>
    </div>
    <img src="img/hero-bg-2x.png">
</div>

<md-content class="itemsList md-container">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('active')" ng-click="showActiveProjects()" name="active">Active</md-nav-item>
        <md-nav-item md-nav-click="goto('all')" ng-click="showAllProjects()" name="all">All</md-nav-item>
        <md-nav-item md-nav-click="goto('tags')" ng-click="showTags()" name="tags" hide-xs>Search By Tags</md-nav-item>
        <md-input-container md-theme="input" class="searchInput" flex ng-if="showSearchInput">
            <label>&nbsp;</label>
            <input placeholder="Search" ng-model="searchParams.keyword" ng-keypress="search($event)">
        </md-input-container>
        <md-icon aria-label="search" class="search" ng-click="showSearchInput = !showSearchInput">
            search
        </md-icon>
    </md-nav-bar>

    <div class="clearfix" ng-if="tagsAreVisible">
        <md-button class="md-mini tag tag-show-all" ng-if="searchParams.tag" ng-click="clearTag()">Unselect Tag</md-button>
        <md-button class="md-mini tag" ng-repeat="tag in tags" ng-click="activateTag(tag)" ng-class="{'selected': tag == searchParams.tag}">{{tag}}</md-button>
    </div>
    <md-content layout="row" layout-wrap infinite-scroll="loadMore()" infinite-scroll-distance="1">
        <div flex="33" flex-sm="50" flex-xs="100" ng-repeat="project in projectsList">
            <md-card  ui-sref="project({id: project.id})">
                <div class="card-image" style="background-image: url({{project.image_url}});"></div>
                <i class="date">{{project.created | date:"DD/mm/yyyy 'at' h:mma"}}</i>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{project.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p ng-bind-html="project.description.brief" class="shortDescription"></p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button class="md-mini tag" ng-repeat="tag in project.tags">{{tag}}</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
    <div layout="row" layout-sm="column" layout-align="space-around" class="progress-circular" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>