<md-content layout-padding >
    <form>
        <div layout="row" layout-wrap>
            <h2 flex="50" class="form-group pull-left">User: {{userName}}</h2>
        </div>
    </form>
</md-content>

<div class="md-table-responsive">
    <table class="md-table md-table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
        <tr>
            <th>Title</th>
            <th>Label</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="post in posts">
            <td width="60%">
                <p ng-if="!post.isEditing" ng-bind-html="post.title"></p>
                <div ng-if="post.isEditing">
                    <textarea kendo-editor k-ng-model="post.title"></textarea>
                </div>
                <md-button ng-if="!post.isEditing" class="md-primary md-raised" ng-click="editPost(post)">Edit</md-button>
                <md-button ng-if="!post.isEditing" class="md-primary md-raised" ng-click="confirmDelete(post, $event)">Delete</md-button>

                <md-button ng-if="post.isEditing" class="md-primary md-raised" ng-click="updatePost(post)">Update</md-button>
                <md-button ng-if="post.isEditing" class="md-primary md-raised" ng-click="post.isEditing = !post.isEditing">Cancel</md-button>
            </td>
            <td>{{post.type}}</td>
            <td>{{post.created}}</td>
        </tr>
    </table>
</div>