<md-content layout-padding >
    <form>
        <div layout="row" layout-wrap>
            <h2 flex="50" class="form-group pull-left">User: {{userName}}</h2>
            <md-input-container class="md-icon-float md-icon-right md-block" flex>
                <label>Search</label>
                <input ng-model="keyword" type="text" ng-keypress="search($event)">
                <md-icon aria-label="search" class="search">
                    search
                </md-icon>
            </md-input-container>
        </div>
    </form>
</md-content>

<div class="md-table-responsive">
    <table class="md-table md-table-bordered" lazy-scroll="loadMore()" lazy-scroll-trigger="90">
        <tr>
            <th>Title</th>
            <th>Label</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="post in posts">
            <td width="60%">
                <p ng-if="!post.isEditing" ng-bind-html="post.title"></p>
                <div ng-if="post.isEditing">
                    <textarea kendo-editor k-ng-model="post.title"></textarea>
                </div>
                <md-button ng-if="!post.isEditing" class="md-primary md-raised" ng-click="editPost(post)">Edit</md-button>
                <md-button ng-if="!post.isEditing" class="md-primary md-raised" ng-click="deletePost(post)">Delete</md-button>

                <md-button ng-if="post.isEditing" class="md-primary md-raised" ng-click="updatePost(post)">Update</md-button>
                <md-button ng-if="post.isEditing" class="md-primary md-raised" ng-click="post.isEditing = !post.isEditing">Cancel</md-button>
            </td>
            <td>{{post.type}}</td>
            <td>{{post.created}}</td>
        </tr>
    </table>
</div>