<div ng-include="'components/navbar/navbar.html'"></div>

<section class="main-carousel container">
  <div class="row">
    <carousel interval="carouselInterval">
      <slide ng-repeat="project in latest5" active="slide.active">
        <img ng-src="{{project.image_url}}"/>
        <div class="carousel-caption">
          <h4>{{project.title}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</section>

<section class="tags container">
  <a ng-if="activeTag" class="tag" ng-click="clearTag()">All projects</a>
  <a ng-repeat="tag in tags" class="tag" ng-click="activateTag(tag)" ng-class="{'selected': tag == activeTag}">{{tag}}</a>
</section>

<section class="projects container">
    <ul class="list-unstyled">
      <li class="project-block" ng-repeat="project in projectsList">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="project-block-image" style="background-image: url('{{project.image_url}}');">
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
            <div class="project-block-info">
              <h2>{{project.title}}</h2>
              <div class="project-info-labels">
                <span class="label label-primary" ng-repeat-start="tag in project.tags">{{tag}}</span> <span ng-repeat-end></span>
              </div>
              <div class="project-info-brief-descr">
                <p>{{project.description.brief}}</p>
              </div>
              <a href="project/{{project._id}}">More info &rarr;</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
</section>
