<div class="admin">
    <md-content layout-padding >
        <form>
            <div layout="row" layout-wrap>
                <md-input-container flex="50" flex-xs="75">
                    <label>Select Action</label>
                    <md-select ng-model="params.selectedAction">
                        <md-option ng-repeat="action in actions" value="{{action.id}}">{{action.name}}</md-option>
                    </md-select>
                </md-input-container>
                <span flex="25" flex-xs="25">
                    <md-button class="apply-btn md-raised md-primary" ng-click="apply()">Apply</md-button>
                </span>
                <md-input-container class="md-icon-float md-icon-right md-block" flex flex-xs="100">
                    <label>Search</label>
                    <input ng-model="searchParams.keyword" type="text" ng-keypress="search($event)">
                    <md-icon aria-label="search" class="search">
                        search
                    </md-icon>
                </md-input-container>
            </div>
        </form>
    </md-content>

    <div class="md-table-responsive">
        <table class="md-table md-table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">
            <tr>
                <th></th>
                <th>User</th>
                <th>E-mail</th>
                <th>Posts</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>
                    <div class="checkbox">
                        <label ng-click="setChecked(user)">
                              <input type="checkbox" ng-model="user.checked">
                        </label>
                      </div>
                </td>
                <td>
                    <span>{{user.name}}</span>
                    <md-button class="md-primary edit" ui-sref="profile-edit({id: user.id})">Edit</md-button>
                </td>
                <td>{{user.email}}</td>
                <td>
                    <md-button class="md-primary" ui-sref="admin.posts({userId: user.id, userName: user.name})">
                        {{user.created_forums + user.posted_messages + user.researcher_in + user.supervisor_in}}
                    </md-button>
                </td>
                <td>
                    <span>{{user.status}}</span>
                    <md-button class="md-primary" ng-if="user.status === 'BANNED'" type="button" class="btn btn-link" ng-click="restore(user)">restore</md-button>
                </td>
            </tr>
        </table>
    </div>

    <div layout="row" layout-sm="column" layout-align="space-around" class="progress-circular" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>