<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Sign up</h1>
        </div>
        <div class="col-sm-12">
            <p class="text-danger">{{errors.valid}}</p>
            <p class="text-danger">{{errors.other}}</p>
            <form ng-submit="signUp(userForm.$valid, $event)" class="form" name="userForm" novalidate>
                <div class="form-group">
                    <label>Name<span class="text-danger">*</span></label>
                    <input type="text" name="name" class="form-control" ng-model="user.name"
                     required/>
                    <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                        <p ng-message="required">This field is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email<span class="text-danger">*</span></label>
                    <input type="email" name="email" class="form-control" ng-model="user.email"
                     required />

                    <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                        <p ng-message="required">This field is required</p>
                        <p ng-message="email">This needs to be a valid email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password<span class="text-danger">*</span></label>
                    <input type="password" name="password" class="form-control" ng-model="user.password"
                        ng-minlength="3"
                        required/>
                    <div class="help-block" ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                        <p ng-message="required">This field is required</p>
                        <p ng-message="minlength">This field is too short</p>
                        <p ng-message="password">This needs to be a valid password</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Summary</label>
                    <textarea kendo-editor k-ng-model="user.cv"></textarea>
                </div>
                <div>
                    <button class="btn btn-primary btn-lg btn-login" type="submit">Sign-up</button>
                    <a class="btn btn-default btn-lg btn-register" ui-sref="sign-in">Sign-in</a>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>