<div class="header">
    <div class="info" layout="column">
        <h1>Sign up</h1>
    </div>

    <md-content layout-padding class="account-container">
        <form ng-submit="signUp(userForm.$valid, $event)"  name="userForm" novalidate>
            <md-input-container class="md-block">
                <label>Full name</label>
                <input type="text" ng-model="user.name" name="name" required>
                <div ng-messages="userForm.name.$error">
                    <div ng-message="required">This field is required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email Address</label>
                <input type="email" ng-model="user.email" name="email" required>
                <div ng-messages="userForm.email.$error">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="email">This needs to be a valid email</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" ng-model="user.password" name="password" ng-minlength="3" required>
                <div ng-messages="userForm.password.$error" >
                    <div ng-message="required">This field is required</div>
                    <div ng-message="minlength">This field is too short</div>
                    <div ng-message="password">This needs to be a valid password</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Summary</label>
                <textarea ng-model="user.cv" rows="5"></textarea>
            </md-input-container>
            <section layout="row">
                <md-button flex="50" type="button" class="md-block" ui-sref="sign-in">LOGIN INSTEAD?</md-button>
                <md-button flex="50" type="submit" class="md-primary md-raised md-block">SUBMIT</md-button>
            </section>
        </form>
    </md-content>
</div>