/**
 * GENERAL STYLES
 */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
html {
    background-color: #fff;
}
a:hover {
    /*color: #aaa!important;*/
}
md-content.md-default-theme, md-content {
    background-color: #fff!important;
}
.progress-circular {
    padding: 20px 45%;
}
md-toast .md-toast-content {
    background-color: red;
}
.md-button:not([disabled]):hover {
    background-color: rgba(158,158,158,0.6);
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
md-card md-card-title,
md-card md-card-content {
    padding: 0;
}
.add-padding-right {
    padding-right: 0;
}
.select-image {
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(../img/photo.png);
    background-size: 100px;
    background-position: center;
    opacity: 0.3;
    cursor: pointer;
    position: relative;
}
.select-image .proj-image {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 200px;
}
.preview {
    width: 100%;
    cursor: pointer;
}
.detailed-description {
    -webkit-transform: translate3d(0, 0, 0) scale(1)!important;
    transform: translate3d(0, 0, 0) scale(1)!important;
}
.md-container {
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .md-container {
        width:70%;
    }
}
@media (min-width: 600px) {
    .add-padding-right {
        padding-right: 20px;
    }
}

/******* HEADER *******/
.header {
    background-image: url(../img/hero-bg-2x.png);
    background-size: 100% 500px;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 600px;
}
.header .info {
    color: #fff;
    text-align: center;
}
.header h1,
.header h2 {
    margin-top: 100px;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000000;
    font-weight: 300;
}
.header h3 {
    margin-top: 0;
    font-weight: 300;
    text-shadow: 1px 1px 3px #000000;
}
.header md-content.md-default-theme, .header md-content {
    background-color: transparent!important;
}
.header form {
    background-color: rgba(250, 250, 250, 0.5);
}

/******* LIST OF PROJECTS *******/
.itemsList {
    overflow: hidden;
}
.itemsList .date,
.itemsList .md-headline,
.itemsList .shortDescription,
.itemsList md-card-actions{
    margin: 0 10px 10px 10px;
    word-break: break-all;
    line-height: 1!important;
}
.itemsList .date {
    color: rgb(63,81,181);
    margin-top: 5px;
}

.itemsList .tag{
    background: #ff5252;
    font-size: 9px;
    line-height: 2;
    min-height: 100%;
    height: 100%;
    min-width: 0;
}
.itemsList .tag.selected{
    background: rgb(57,73,171);
    color: #fff;
}
.itemsList .tag.tag-show-all{
    background: rgb(57,73,171);
    color: #fff;
}
.itemsList .show-hide-btn{
    float: right;
    background: transparent;
}
.itemsList .md-headline,
.itemsList md-card-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.itemsList .md-headline {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    height: 35px;
    -webkit-line-clamp: 2;
}
.itemsList md-card-content p {
    height: 81px;
    -webkit-line-clamp: 5;
    line-height: 1.2 !important;
}

.itemsList .date {
    color: rgb(63,81,181);
    margin-top: 5px;
}
.itemsList .card-image {
    height: 250px;
    max-height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
