<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary pull-right" ng-if="showEditButton" ng-click="edit()">Edit</button>
      <h1 class="page-header">About</h1>
      <p class="text-danger">{{errorMsg}}</p>
      <p class="text-success">{{successMsg}}</p>
      <p ng-if="!showEditableTexarea" ng-bind-html="aboutProject.currentDescription"></p>
      <div ng-if="showEditableTexarea" class="add-margin-bottom">
        <textarea kendo-editor k-ng-model="aboutProject.newDescription"></textarea>
      </div>
      <button ng-if="showEditableTexarea" class="btn btn-primary" ng-if="!showEditButton" ng-click="updateAbout()">Save</button>
      <button ng-if="showEditableTexarea" class="btn btn-default" ng-if="!showEditButton" ng-click="cancel()">Cancel</button>
      <p ng-if="!showEditableTexarea">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend nunc lacus, id accumsan diam dapibus sed. Mauris nec consequat nulla. Fusce venenatis metus vel gravida commodo. Donec finibus a turpis vitae porta. Nunc ipsum mauris, placerat et nulla nec, faucibus imperdiet urna. Pellentesque sodales, magna at hendrerit vestibulum, metus nunc aliquam nisl, quis bibendum nisl nibh ut nibh. Aliquam mi velit, gravida nec facilisis in, pretium at velit. Integer luctus leo eu ligula faucibus ultrices. Quisque ac eleifend velit. Curabitur metus elit, porttitor ut maximus dapibus, finibus vitae sem. Fusce maximus leo at ante gravida, vitae rutrum sem tristique.

      Aenean a ex at tortor elementum vulputate. Integer nec vehicula elit, egestas gravida lectus. Nullam at rutrum erat. Integer accumsan placerat velit, ac elementum arcu blandit sit amet. Vestibulum tempor efficitur augue ut malesuada. Sed tempor nisl ac ex tincidunt, vel accumsan odio aliquet. Donec porttitor lorem nec felis cursus, quis condimentum velit dictum.

      Mauris gravida orci a dolor interdum, non vestibulum quam ullamcorper. Duis vel lobortis nisi. Vivamus efficitur semper luctus. Pellentesque euismod tellus quam, et rutrum mi mattis eu. Curabitur a arcu cursus, aliquam mauris quis, posuere libero. Aenean nunc odio, placerat nec auctor vitae, vestibulum et lorem. Curabitur vel lorem enim. Integer aliquam imperdiet malesuada. Praesent eu varius neque. Maecenas nibh ante, malesuada quis risus at, bibendum efficitur dui.

      Nullam at dapibus libero. Nullam lacinia sed dolor sit amet hendrerit. Sed cursus tempus mi vel elementum. Vivamus eget mauris ligula. Nullam placerat ultricies pellentesque. Donec vel iaculis ipsum. In vestibulum purus eu eleifend aliquam. Ut pretium cursus leo.

      Nulla in ante pulvinar, sodales massa a, condimentum ipsum. Etiam volutpat arcu risus, eu volutpat dui laoreet non. Nullam aliquam, tortor vel aliquet condimentum, lectus massa porttitor odio, non facilisis enim tortor quis sem. Curabitur accumsan quam ligula, a convallis diam imperdiet vitae. Phasellus tristique gravida nisl a accumsan. Integer tempor arcu a sapien ullamcorper dictum. Donec rutrum, felis eu porttitor consectetur, turpis tellus gravida dui, quis tristique magna justo ut ex. Phasellus porta congue neque, a consequat sapien consectetur sed. Morbi risus metus, dignissim non velit eget, sodales consectetur nulla.
        
      </p>
      
    </div>
  </div>
</div>