<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{name}}</h1>
        <div ng-if="supervising"> 
          <h5>{{name}} is supervising: </h5>
          <ul>
            <li ng-repeat="proj in supervising">
            <a href="/project/{{proj.id}}">{{proj.title}}</a>
            </li>
          </ul>
          <br>
          <h5>Involved in:</h5>
          <ul>
            <li ng-repeat="item in area">{{item}}</li>
          </ul>
          <h5>Contact info</h5>
          Email: {{email}}
        </div>
        <div ng-if="researcher">
          <h5>Researcher in:</h5>
          <ul>
            <li ng-repeat="proj in researcher">
              {{proj}}
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>



