<div class="header" style="height: 600px">
    <div class="info" layout="column">
        <h1>Change Password</h1>
    </div>

    <md-content layout-padding class="account-container">
        <form ng-submit="changePassword(form.$valid, $event)" name="form" novalidate>
            <md-input-container class="md-block">
                <label>Current Password</label>
                <input type="password" name="password" ng-model="data.oldPassword" required>
                <div ng-messages="form.password.$error">
                    <div ng-message="required">This field is required</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>New Password</label>
                <input type="password" name="newPassword" ng-model="data.newPassword" ng-minlength="3" required>
                <div ng-messages="form.newPassword.$error">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="minlength">This field is too short</div>
                    <div ng-message="password">This needs to be a valid password</div>
                </div>
            </md-input-container>
            <section layout="row">
                <div flex="50" class="md-block">{{message}}</div>
                <md-button flex="50" type="submit" class="md-primary md-raised md-block">SAVE CHANGES</md-button>
            </section>
        </form>
    </md-content>
</div>