<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
            <p>{{message}}{{errorMsg}}</p>
            <form class="form" name="form" ng-submit="changePassword(form.$valid, $event)" novalidate>
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" name="password" class="form-control" ng-model="data.oldPassword" required/>
                    <div class="help-block" ng-messages="form.password.$error" ng-if="form.password.$touched">
                        <p ng-message="required">This field is required</p>
                    </div>
                </div>

                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="data.newPassword" ng-minlength="3" required/>
                    <div class="help-block" ng-messages="form.newPassword.$error" ng-if="form.newPassword.$touched">
                        <p ng-message="required">This field is required</p>
                        <p ng-message="minlength">This field is too short</p>
                        <p ng-message="password">This needs to be a valid password</p>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
          </form>
        </div>
    </div>
</div>