<div class="header">
    <div class="info" layout="column">
        <h1 >Change password</h1>
        <h3>&nbsp;</h3>
    </div>

    <md-content layout-padding class="account-container">
        <form ng-submit="setPassword(form.$valid, $event)" name="form" novalidate>

            <md-input-container class="md-block">
                <label>New Password</label>
                <input type="form" ng-model="password.new" name="newPassword" required>
                <div ng-messages="form.newPassword.$error">
                    <div ng-message="required">This field is required</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirm Password</label>
                <input type="password" ng-model="password.new" name="confirmPassword" required>
                <div ng-messages="form.confirmPassword.$error">
                    <div ng-message="required">This field is required</div>
                </div>
            </md-input-container>
            <section layout="row">
                <md-button flex="50" type="button" class="md-block" ui-sref="sign-in">CANCEL</md-button>
                <md-button flex="50" type="submit" class="md-primary md-raised md-block">SUBMIT</md-button>
            </section>
        </form>
    </md-content>
</div>